/* General */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Silkscreen&display=swap');
/*
* {
    font-family: 'Raleway', sans-serif;
}
    */
.header {
    background-color: #31304D;
    font-size: 20px
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.MainContent {
    background-color: #F0ECE5;
}

.footer {
    background-color: #DBE3E5;
    text-decoration: black;
    padding-top: 25px;
}

#copyright {
    background-color: #161A30;
    text-decoration: white;
}

/* Default */

.container-inicio {
    background-color: #cec3e2;
    padding-left:30px;
}

.div-inicio-img {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
}
.inicio-img {
    max-height:175px;
    width:15rem;
    align-self:center;
    justify-self:center;
}


/* Productos */

